.blog-post {
    transition: 3s;
    opacity: 0.8;
}

.blog-post:hover {
    -webkit-box-shadow: 2px 2px 10px #999;
    -moz-box-shadow: 2px 2px 10px #999;
    box-shadow: 2px 2px 10px #999;
    opacity: 1;
}

.mainmenu > ul > li > a, .mainmenu .mainmenu-submenu-inner > li > a {
    padding: 1em 0.5em;
}
.blog-posts-wrapper{
    min-height: 473px;
}

.custom-wrapp {
    //min-height: calc(100vh - 355px);
}
.help-block{
    position: absolute;
    line-height: 4px;
    right: -40px;
}
.wrapper {
    height: 100%;
}
.content {

}
.footer {
    //height: 280px;
    //margin-top: 132px;
}
.jpreloader{
    background-color: #111214;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    display: block;
    background-image: url("/images/preloader.gif");
    background-repeat: no-repeat;
    background-position:center center;
}

.help-block-error{
    left: 35px;
}


